<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <p>{{task_count}}</p>
    </div>
     <div>
        <ol>
            {% for project in projects %}
            <li>
               <p> {{project.name}} </p>
               <p> {{project.num_task}} </p>
               {% comment %} {% for emp in task.assigned_to.all %}
                    <p> {{emp.name}} </p>
                {% endfor %} {% endcomment %}
            </li>
             {% endfor %}
        </ol>
    </div> 
    {% comment %} <div>
        {{task3}}
    </div>
    <div>
        {{first_task}}
    </div>  {% endcomment %}
</body>
</html>